---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$bg-primary: #FBFBFC;
$bg-secondary: darken($bg-primary, 5%);
$color-accent: #6883DE;
$color-text: #6C6F79;
$font-size: 15px;
$font-family: 'Roboto', sans-serif;

@import "loader", "base", "media";
