@import "_mixin";
*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  user-select: none;
}

.align-right {
  text-align: right;
}

#wrapper {
  background-color: $bg-primary;
  color: $color-text;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
  overflow: hidden;
}

main {
  background-color: $bg-secondary;
  box-shadow: inset -5px 0px 10px 0px rgba(0,0,0,0.05);
  overflow-y: auto;
}

aside {
  overflow-y: auto;

  header {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    padding: 15px;
    color: #FFFFFF;
    background-color: $color-accent;
  }
}

.content {
  margin: 30px;
  display: grid;
  grid-template-columns: 40% 60%;

  &__header {
    display: flex;
    align-items: center;
    color: $color-accent;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
  }

  &__details {
    color: lighten($color-text, 20%);
    text-align: right;

    summary {
      cursor: pointer;
      &::-webkit-details-marker {
        display: none
      }
    }

    p {
      margin-top: 5px;
      margin-left: 3px;
    }

    span {
      margin-left: 10px;
    }

    &--summary {
      color: $color-text;
      text-transform: capitalize;
    }

    &--high {
      color: #59a78c;
    }

    &--low {
      color: #e35d6e;
    }
  }
}

.analytics {
  margin: 30px;

  &__container {
    background-color: lighten($bg-secondary, 1%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.05);
  }
}

#chart {
  .y-axis .domain, .tick line {
    stroke: darken($bg-secondary, 10%);
  }

  .tick text {
    font-family: $font-family;
    fill: $color-text;
  }
}

.stock {
  background-position: center;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  padding: 15px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.5s;

  &:hover {
    background: $bg-secondary radial-gradient(circle, transparent 1%, $bg-secondary 1%) center/15000%;
  }

  &:active {
    background-color: $color-accent;
    background-size: 100%;
    transition: background 0s;
  }

  &:after {
    content: "";
    width: 95%;
    position: absolute;
    left: 2%;
    bottom: 0;
    border-bottom: 1px solid $bg-secondary;
  }

  &--active {
    background: $bg-secondary;
  }

  &__name {
    font-weight: 700;
    font-size: 17px;
  }

  &__price, &__change {
    text-align: right;
    font-weight: 400;
  }

  &__change {
    &--profit, &--loss {
      border: 2px solid;
      padding: 5px 8px;
      border-radius: 5px;
      text-align: center;
    }

    &--profit {
      background-color: #f4fcf9;
      border-color: #63c997;
      color: #59a78c;
    }

    &--loss {
      background-color: #fcf4f5;
      border-color: #ec7791;
      color: #e35d6e;
    }
  }
}
